
    $title-text-color: #FFFFFF;
    $text-color: #D2D2D2;
    $data-text-color: #828282;
    $button-one-color: #ED3024;
    $button-two-color: #3137C9;
    $header-background-color: #0D0D0D;
    $author-background-color: #202020;
    $box-shadow-header: rgba(0, 0, 0, 0.25);

