.author {
   position: relative;
   width: 300px;
   padding-bottom: 60px;
   background-color: $author-background-color;
}
#author {
    opacity: 1;
    animation-name: opacity-two;
    animation-duration: 8000ms;
}
.author-avatar-container {
   position: absolute;
   top: 153px;
   left: 15px;
   width: 67px;
   height: 66px;
   border-radius: 50%;
   background-color: $title-text-color;
    @media screen and (min-width: 768px) {
   top: 111px;
   width: 102px;
   height: 101px;  
   margin-left: 65px;
    }
}
.author-avatar {
   width: 65px;
   height: 65px;
   margin-left: 1px;
   margin-top: 1px;
   border-radius: 50%;
   @media screen and (min-width: 768px) {
   width: 100px;
   height: 100px;  
   }
}


.author-title-one {
position: absolute;
top: 180px;
left: 90px;
color: $title-text-color;
margin-bottom: 3px;
font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
line-height: 1.2;

@media screen and (min-width: 768px) {
position: static;
margin-top: 69px;
font-size: 18px; 
text-align: center;  
}
}

.author-title-two {
margin-top: 20px;
color: $text-color;
font-weight: 300;
font-size: 12px;
line-height: 1.1;
text-align: center;
@media screen and (min-width: 768px) {
margin-top: 0;
font-size: 14px;   
}  
}

.author-text {
color: $title-text-color;
margin-left: 20px;
margin-right: 20px;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
text-align: center;


text-align: center;  
}

.author-social {
   display: flex;
   gap: 15px;
   margin-top: 70px;
   margin-bottom: 60px;
   justify-content: center;
   @media screen and (min-width: 768px) {
      margin-top: 18px; 
   }
}

.icon {
   width: 25px;
   height: 25px;
}

.author-social li {
   animation-duration: 1000ms;
   &:focus, &:hover {
   animation-name: opacity;
   filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25)); 
   }
}

.author-buttons {
display: flex;
margin-top: 60px;
justify-content: center;

}

.author-button {
width: 120px;
padding-top: 16px;
padding-bottom: 16px;
background-color: $button-one-color;
font-weight: 500;
font-size: 12px;
line-height: 1.2;
text-align: center;
color: $title-text-color;
border-radius: 25px;
box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
&:focus, &:hover {
color: $text-color;
animation-name: opacity;
animation-duration: 1000ms;  
}
}


.author-button-two {
margin-left: 20px;
background-color: $button-two-color;
box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);  
}



