.header {
   width: 285px;
   height: 40px;
   position: absolute;
   top: 0;
   padding-right: 15px;
   background-color: $header-background-color;
   box-shadow: $box-shadow-header;
   border-radius: 5px;
   z-index: 1111;
   
   @media screen and (min-width: 768px) {
      position: static;
       width: 480px;
   }
    @media screen and (min-width: 1213px) {
    width: 100%;

    }
}
.burger {
   background-color: $header-background-color;
   border: 0;

  @media screen and (min-width: 768px) {
     display: none;
   } 
}
.burger img {
   padding-top: 10px;
   width: 30px;
   height: 20px;
}
.header-container {
position: absolute;
top: 230px;
left: 21px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
@media screen and (max-width: 768px) {
background-color: $header-background-color;
}
@media screen and (min-width: 768px) {
opacity: 1;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0;  
position: static;
display: flex;
justify-content: space-between;
align-items: center; 
}
}

.header-nav {
margin-bottom: 25px;
   @media screen and (min-width: 768px) { 
   display: flex;
   gap: 5px;
   margin-bottom: 0;
   margin-left: 25px;
   padding-top: 14px;
   padding-bottom: 14px;
}
@media screen and (min-width: 1213px){
gap: 15px;
}
}

.header-nav a {

font-weight: 300;
font-size: 15px;
line-height: 2.1;
color: $title-text-color;  
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
@media screen and (min-width: 768px) {
font-weight: 200;
font-size: 8px;
line-height: 1;
}
 @media screen and (min-width: 1213px) {
font-weight: 400;
font-size: 11px;
text-transform: uppercase;
    }


&:hover, &:focus {
color: $data-text-color;   
}  
}
 

.header-contacts {
   @media screen and (min-width: 768px) {
   display: flex;
   gap: 5px;
   margin-right: 10px;
   padding-top: 14px;
   padding-bottom: 14px;
   margin-left: 10px;
   @media screen and (min-width: 1213px) {
    gap: 15px;
   margin-right: 25px; 
   margin-left: 50px; 
   }
}
}

.header-contacts a {
font-weight: 300;
font-size: 15px;
line-height: 2.1;
color: $title-text-color;
transition: color 250ms $cubic-bezier;
 @media screen and (min-width: 768px) {
font-weight: 200;
font-size: 8px;
}
 @media screen and (min-width: 1213px) {
font-weight: 400;
font-size: 11px;
text-transform: uppercase;
    }

&:hover, &:focus {
color: $data-text-color;   
}    
}

.is-open {
   opacity: 0;
   @media screen and (min-width: 768px) {
      opacity: 1;
   }
}
.remove-button {
   display: none;
}

.header-mobile {
@media screen and (min-width: 768px) {
   display: none;
}
}

.header-computer {
@media screen and (max-width: 767px) {
   display: none;
}
}